body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d1c6be;
}

.resources {
  display: flex;
  flex-direction: column;
  border: 2px solid #999999;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.title_and_catagory {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.description {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1em;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 400;
}
.description-text {
  padding: inherit;
  margin: auto;
}

.creator {
  display: flex;
  align-items: baseline;
}
.rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 25px;
  padding: 0.5em;
}

.likes {
  display: flex;
  align-items: baseline;
}
.fa-heart {
  padding-right: 0.5em;
}
.fa-circle-user {
  padding-left: 0.5em;
  font-size: 20px;
}
.fa-image {
  font-size: 150px;
}
